@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&display=swap');
.test{
    color: white;
}
::-webkit-scrollbar {
    display: none;
}
.icons{
    transition: 0.4s ease-out;
    margin-right: 20px;
}
.icons:hover{
    color:#FED000;
    cursor: pointer;
    transition: 0.3s ease;
}